<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959057882355-gacdafva2q9u24sgkvgeq4u7n6hvdj5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959057882355-gacdafva2q9u24sgkvgeq4u7n6hvdj5e</string>
	<key>API_KEY</key>
	<string>AIzaSyCC_l8UVOs7GAEhxoOs8vSXu4oSH8w7yNg</string>
	<key>GCM_SENDER_ID</key>
	<string>959057882355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.createchsol.FirebaseSample</string>
	<key>PROJECT_ID</key>
	<string>sample-firebase-project-368ac</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-firebase-project-368ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959057882355:ios:9dbff464f013e30ec1db86</string>
</dict>
</plist>